<h1>Parity</h1>
    <li><%= link_to "Manage", :action => "manage" %></li>

<table>
  <tr>
    <th>Currency1</th>
    <th>Currency2</th>
    <th>Rate</th>
  </tr>
  <% @pairs.each do |pair| %>
    <tr>
      <td><%= pair.currency1.name %></td>
      <td><%= pair.currency2.name %></td>
      <td><%=  (pair.currency2.rate / pair.currency1.rate).round(4) %></td>
    </tr>
  <% end %>
</table>
